div, main 
  background: #ccc
  border-end-start-radius: 15px
  padding: 30px
  margin-inline: auto
  margin-block: 30px
  width: 960px

  p 
    color: #222
    font-size: 22px

main
  .c-text--red 
    color: red
  
  li 
    color: purple

  ol > li
    color: blue 
  
  a 
    color: green 
    border: solid 1px green 
    display: block
    padding: 20px
    text-align: center
    text-decoration: none
    transition: .5s
    width: 150px

    &:hover 
      color: #fff
      background: green 

.container
  &__content 
    color: red
    p 
      color: currentColor

.button-colletions 
  padding-block: 200px

.btn 
  min-width: 120px
  border: solid 1px blue
  border-radius: 8px
  background-color: blue
  padding: 10px
  color: #fff

  &:hover 
    background-color: transparent 
    color: blue 

  &--success 
    border-color: green
    background: green

    &:hover 
      color: green
  
  &--falied
    border-color: red
    background-color: red

    &:hover 
      color: red 