/* Error: @function rules may not contain declarations.
 *    ,
 * 15 |     border: 1px solid red
 *    |     ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\_function.sass 15:5  @import
 *   sass\main.sass 5:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: @function rules may not contain declarations.\a    \2577 \a 15 \2502      border: 1px solid red\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\_function.sass 15:5  @import\a   sass\\main.sass 5:9        root stylesheet";
}
