%especial
  background-color: yellow
  border: solid 3px red
  color: css-color(20)
  padding: 10px

  &:hover
    border-color: blue

.c-title
  @extend %especial

.c-text
  @include custom-border(solid, red, 5px)
  font-size: 22px
  background: #222
  color: #fff

  &--especial
    @extend %especial
    @mixin color

  &--small
    @include padding(10px, 10px)

  &--medium
    @include padding(15px, 15px)
    @include colors($font: #235, $bg-color:  #fff)

  &--large
    @include padding(20px, 20px)
    @include colors

  &--biggest
    @include custom-border(solid, blue, 5px)
    @include padding(25px, 25px)
    @include colors($bg-color: orange)
