@mixin css-color
  color: orange

@mixin padding($block, $inline)
  padding-block: $block
  padding-inline: $inline

@mixin custom-border($style, $color, $width: 1px)
  border: $style $width $color

@mixin colors($font: #333, $bg-color: #ccc)
  background-color: $bg-color
  color: $font
